@model IEnumerable<OnlineWebApp.Models.JobPost>

@{
	ViewBag.Title = "AvailabeJobPosts";
}

<h2>AvailabeJobPosts</h2>

@*<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.JobPosition)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Qualification)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.JobDescription)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Experience)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Age)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AppProcess)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.JobPosition)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Qualification)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.JobDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Experience)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Age)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AppProcess)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
				@Html.ActionLink("Details", "Details", new { id = item.PostID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.PostID })
			</td>
		</tr>
	}

</table>
<hr />*@
<div class="row">

	@foreach (var item in Model)
	{

		<div class="col-md-3">
			<div class="shadow p-3 mb-5 bg-white rounded">

				<p>Job Position:	@Html.DisplayFor(modelItem => item.JobPosition)</p>
				<p>Qualification Required: 	@Html.DisplayFor(modelItem => item.Qualification)</p>
				<p>Job Description:@Html.DisplayFor(modelItem => item.JobDescription)</p>
				<p>Experience Required:	    @Html.DisplayFor(modelItem => item.Age)</p>
				<p></p>
				<p>Order date:	    @Html.DisplayFor(modelItem => item.AppProcess)</p>
				<a href='@Url.Action("OrderState", "OrderLists", new { id = item.PostID })' class="btn btn-success">Apply</a>

			</div>
		</div>
	}

	</div>