@model OnlineWebApp.Models.AppModels.AssignDriver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignDriver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
