@model OnlineWebApp.Models.AppModels.Please

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>&nbsp;</p>
<p><strong>COMPANY NAME AND LOGO</strong></p>
<p style="text-align: center; padding-left: 450px;"><strong>Bank name</strong></p>
<p style="text-align: center; padding-left: 450px;"><strong>Address 1</strong></p>
<p style="text-align: center; padding-left: 450px;">&nbsp;</p>
<p style="text-align: center; padding-left: 450px;">&nbsp;SWIFT&nbsp;&nbsp;<strong>:</strong></p>
<p style="text-align: center; padding-left: 450px;">E-mail&nbsp;<strong>:</strong></p>
<p style="text-align: center; padding-left: 450px;">Website&nbsp;<strong>:</strong></p>
<p><strong>CUSTOMER NAME</strong></p>
<p><strong>&nbsp;</strong>ADDRESS 1</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Ref: INB 0000-30001-000000</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Customer Id: </strong>01111113</p>
<p><strong>Account No&nbsp;: </strong>4304567890987</p>
<p><strong>Account No: </strong>CURRENT ACCOUNT</p>
<p><strong>&nbsp;Account Type : </strong>BDT</p>
<h2><strong>Currency Issue Date: </strong>January 12, 2019</h2>
<p>&nbsp;</p>
<p><strong>STATEMENT OF ACCOUNT FOR THE PERIOD OF 29-Dec-2018 TO 12-Jan-2019</strong></p>
<p><strong>&nbsp;</strong></p>
<table class="table">
    <thead class="black white-text">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            @*<td>@mdo</td>*@
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            @*<td>@fat</td>*@
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            @*<td>@twitter</td>*@
        </tr>
    </tbody>
</table>

<table class="table">
    <thead class="grey lighten-2">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            @*<td>@mdo</td>*@
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            @*<td>@fat</td>*@
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            @*<td>@twitter</td>*@
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p><strong>COMPANY NAME AND LOGO</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<h3>Rward Points For Acc No</h3>
<p>Reward Points Earned In Current Month Reward&nbsp; Points Redeemed/Expired</p>
<p>Reward Points Available</p>
<p>&nbsp;</p>
<h3 style="margin-top: 4.95pt;"><span lang="EN-US">Reward Points For Acc No&nbsp;</span>: 4304567890987</h3>
<h3 style="margin-top: 4.95pt;">Reward Points Earned In Current Month : 0.000</h3>
<h3 style="margin-top: 4.95pt;">Reward&nbsp; Points Redeemed/Expired: 0</h3>
<h3 style="margin-top: 4.95pt;">Reward&nbsp; Points Redeemed/Expired: 139</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>**** END OF STATEMENT ****</strong></p>