@model IEnumerable<OnlineWebApp.Models.AppModels.Solo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoloID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoloID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoloID })
        </td>
    </tr>
}

</table>
